h2{
    background-color: #232223;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: 'Caprasimo', cursive;
    font-size: 3rem;
}

.tuspapas{
    background-color: #232223;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: 'Caprasimo', cursive;
    font-size: 2rem;
}

.nuevos{
    background-color: #232223;
    color: white;
    font-family: 'Caprasimo', cursive;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
